<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Library</title>
</head>
<body>
    <%- include('./partials/Navbar.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>
</html>